

html, body{ 
margin: 0;
padding: 0;
height: 100%;
text-align: center;
}
section {
min-height: 100%;
}
    @import url('httpsL//fonts.googleapis.com/css2?family=Poppins&display=swap');
    * {
        font-family: 'Poppins', sans-serif;
    }
   

#home{
    background: url(pingpong.jpg);
      background-attachment: fixed;  
}

#home img{
     width: 150px;
     border-radius:  10px;

    opacity: 0.7;
    margin-top: 40px;
}

#home img:hover{
    opacity: 1;
}

#home h1{
    margin: 240px auto 0 auto;
    font-size: 110px;
}
#home h2{
    margin: 0 auto 0 auto;
}

body {
        text-align: center;
       
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;
        position: fixed;
        width: 100%;
            background: url(pingpong.jpg);
      background-attachment: fixed;  
    
        
    }


 